---
import data from '../data/companyData.json';

import type { Props as BaseHeadProps } from '../components/BaseHead.astro';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Intro from '../components/Intro.astro';
import SectionOne from '../components/SectionOne.astro';
import SectionBoxed from '../components/SectionBoxed.astro';
import PhotoDivider from '../components/PhotoDivider.astro';
import SectionAbout from '../components/SectionAbout.astro';
import Footer from '../components/Footer.astro';

import '../styles/base.scss';
import '../styles/critical.scss';

export interface Props {
  addressLine1?: string;
  addressLine2?: string;
  city?: string;
  companyName?: string;
  companyTagline?: string;
  email?: string;
  latitude?: string;
  longitude?: string;
  metaImageAlt?: string;
  phone?: string;
  postcode?: string;
  seo?: BaseHeadProps;
}

const { addressLine1, addressLine2, city, companyName, companyTagline, email, latitude, longitude, metaImageAlt, phone, postcode, seo } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang='en-GB'>
  <head>
    <BaseHead {...seo} />
  </head>
  <body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGZ44X3" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <Header
      alt={data.metaImageAlt}
      companyName={data.companyName}
      phone={data.phone}
    />
    <main id='main'>
      <Intro
        companyName={data.companyName}
        email={data.email}
      />
      <SectionOne />
      <SectionBoxed />
      <PhotoDivider />
      <SectionAbout />
    </main>
    <Footer
      addressLine1={data.addressLine1}
      addressLine2={data.addressLine2}
      alt={data.metaImageAlt}
      city={data.city}
      companyName={data.companyName}
      companyTagline={data.companyTagline}
      email={data.email}
      phone={data.phone}
      postcode={data.postcode}
    />
  </body>
</html>